#navbar{
    width: 100%;
    height: 70px;
    background-color:#0046be ;
    display: flex;
    justify-content:space-between;
    padding-left: 20rem ;
}

#bestbuy-icon{
    height: 70px
}

.checkout-header_title{
    color: #ffff;
    font-size: 30px;
    font-weight: 200px;
    line-height: 15.6px;
    font-family: Arial, Helvetica, sans-serif;
}

#icon-title{
    display: flex;
    align-items: center;
    
}


#icon-title>div{
    display: inline-block;
    
}

#returnToCart{
    text-decoration: none;
    color: #ffff;;
}

#returnToCart{
    margin: auto;
}

.mini-footer_nav{
    display: flex;
}

.mini-footer_nav ul li {
    display: inline-block;
    font-size: 11px;
    color: rgb(0, 70, 190);
}

a{
    text-decoration: none;
}


#checkout-mini-footer{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    color: white;
}

#checkout_container{
    height: 1008px;
    width: 100%;
    border: 1px solid red;
    background-color: #f0f2f4;
}

.checkout_col--primary{
    position: relative;
    z-index: 1;
    width: 66.666%;
}

.checkout_col{
    float: left;
}

#header-title{
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

#main-container{
    height: 1080px;
    width: 1880px;
    border: 1px solid red;
}